<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nike Text Generator</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            font-family: 'Helvetica', 'Arial', 'sans-serif';
            margin: 50px;
        }

        label {
            margin-right: 10px;
            font-weight: bold;
        }

        input {
            padding: 5px;
        }

        button {
            margin: 10px 0;
            padding: 10px;
        }

        ul {
            margin: 5px;
        }

        li {
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1>Nike Text Generator</h1>
    <label for="temperature">Temperature</label><input id="temperature" type="text" value="0.5" placeholder="between 0.0 and 1.0" />
    <label for="samples">Samples</label><input id="samples" type="text" value="3" placeholder="samples to return"/>
    <label for="prefix">Prefix</label><input id="prefix" type="text" value="" placeholder="nike" />
    <br />
    <button id="genButton" type="button">Generate</button>
    <div id="text"></div>
    <script>
        $('#genButton').click(function() {
            $('#genButton').text('Generating...').prop('disabled', true);

            var temperature = $('#temperature').val();
            var samples = $("#samples").val();
            var prefix = $("#prefix").val();

            $.ajax({
                url: "{{ url_for('generate') }}",
                type: 'get',
                data: {
                    temperature: temperature,
                    samples: samples,
                    prefix: prefix
                },
                dataType: 'html',
                success: function(response) {
                    var data = JSON.parse(response);

                    var list_html = "<ul>";

                    for (var i = 0; i < data.length; i++) {
                        list_html += "<li>" + data[i] + "</li>"
                    }

                    list_html += "</ul>";

                    $("#text").html(list_html);
                    $('#genButton').prop('disabled', false).text('Generate');
                }
            });
        });
    </script>
</body>
</html>